html, body {
	height: 100%;
	user-select: none;
	-moz-user-select: none;
}
body {
	margin: 0;
	background: black;
	color: white;
	display: flex;
	flex-direction: column;
}

#screen {
	flex-grow: 1;
	contain: strict;
	cursor: crosshair;
}
#screen > div {
	position: absolute;
	border-radius: 50%;
}

#screen > .box {
	border-radius: 0;
	background: #111;
}

#tools > *, #toolsettings > * {
	height: 30px;
}

#tools, #toolsettings {
	background: gray;
	height: 30px;
	overflow-y: hidden;
}
#tools > button {
	cursor: pointer;
}
#tools > button.active {
	background: green;
	color: white;
}
